.row
    .small-10.small-centered.columns.container
        .row
            .small-3.small-centered.columns
                / .profile-circular
                - require 'digest/md5'
                - md5 = Digest::MD5.hexdigest('trungtuanle@yahoo.com')
                - src = "http://www.gravatar.com/avatar/#{md5}?s=200"
                = image_tag(src, :class => "profile-circular")

        .pad-10

        %p.text-center I am a software engineer in Seattle and currently work for Jawbone. I grew up in Ho Chi Minh city.
        %p.text-center I love traveling with a good book. On my free time, I play & design video games, & doodle.

        %p.text-center
            I built this website with the rails I learned over the years. Look around, there might be something that you're looking for.

        .pad-10
        .pad-20
        .row
            .small-3.small-centered.columns
                .scene
                    .cube
                        %span.top.side trungtuanle90 at gmail dot com
                        %span.front.side EMAIL


        .pad-20