.small-5.right

    .pad-10

    / For showing gravatar
    - require 'digest/md5'
    - md5 = Digest::MD5.hexdigest('trungtuanle@yahoo.com')
    - src = "http://www.gravatar.com/avatar/#{md5}?s=1000"
    = image_tag(src, :size => "300")
    / - src = "me_new_glasses.jpg"
    / = image_tag(src)
.row
    .small-7.left.columns.container

        %p Trung currently attends his first year as a master student at the University of Pennsylvania in Computer Graphics and Game Technology.

        %p He worked as a firmware engineer at Jawbone on the UP wearable fitness tracker.

        %p In his free time, he enjoys writing, hiking, traveling to a new country, and building board/video games.

        %p This website is a sample of his Ruby on Rails experiment.

        .pad-10
        .row
            .small-12.columns
                %a.button(href="mailto:trungtuanle90@gmail.com" target="_blank")
                    %i.fa.fa-envelope

                %a.button(href="https://www.facebook.com/trungtuanle")
                    %i.fa.fa-facebook

                %a.button(href="https://github.com/trungtle")
                    %i.fa.fa-github

        .pad-20
