.row
    .small-10.small-centered.columns.container
        .row
            .small-3.small-centered.columns
                / .profile-circular
                - require 'digest/md5'
                - md5 = Digest::MD5.hexdigest('trungtuanle@yahoo.com')
                - src = "http://www.gravatar.com/avatar/#{md5}?s=200"
                = image_tag(src, :class => "profile-circular")

        .pad-10

        %p.text-center I am a software engineer in Seattle and currently work for Jawbone. I grew up in Ho Chi Minh city.
        %p.text-center I love traveling with a good book. On my free time, I play & design some video games, & doodle.

        %p.text-center
            Look around, there might be something that you're looking for.

        .pad-10
        .pad-20
        .row
            .small-3.small-centered.columns

                .scene
                    .cube
                        %a(href="#" data-reveal-id="emailModal")
                            %span.top.side Email me

                            %span.front.side Or email me?


        .pad-20


#emailModal.reveal-modal(data-reveal style="height:500px;")
    %form(data-abide)
        .row
            .large-6.columns
                .name-field
                    %label.black
                        Your name
                        %input(type="text" required pattern="[a-zA-Z]+")
                    %small.error Name is required and must be a string.

            .large-6.columns
                .email-field
                    %label.black
                        Email
                        %input(type="email" required)
                    %small.error An email address is required.

        .row
            .large-12.columns
                %button(type="submit") Submit
    %a.close-reveal-modal &#215;