.row
    .small-10.small-centered.columns.container
        %h1.text-center Welcome!
        .row
            .small-6.small-centered.columns
                = image_tag("fb.jpg", size: "500")
        .pad-20
        %p.text-center
            My name is Trung Le. I code, build games, read books, travel and hike on the weekends.
        %p.text-center
            Look around, there might be something that you're looking for.
        %p.text-center
            (or if you need to get in touch with me, look below)

        .pad-10
        .pad-20
        .row
            .small-3.small-centered.columns
                .scene
                    .cube
                        %span.top.side Email me
                        %span.front.side Contact

        .pad-20
