.row
    .small-10.small-centered.columns.container
        %h1.text-center trungle
        .pad-10

        %p.text-center I am a software engineer in Seattle and currently work for Jawbone. I grew up in Ho Chi Minh city.
        %p.text-center I love traveling with a good book. On my free time, I play & design some video games, & doodle.

        %p.text-center
            Look around, there might be something that you're looking for.

        .pad-10
        .pad-20
        .row
            .small-3.small-centered.columns
                .scene
                    .cube
                        %span.top.side Email me
                        %span.front.side Or email me?
        .pad-20
