.row
    .row.container.small-10.small-centered.columns.container

        %p
            As part of my current master program as University of Pennsylvnia, I am working on my master thesis in "Real-time transparency with Vulkan". The thesis explores the advantage of using modern explicit graphics API Vulkan in context of optimizing performance for transparency rendering. Thesis is inspired by
            = link_to("Morgan McGuire", "http://cs.williams.edu/~morgan/")
            's
            = link_to("Phenomenological Transparency", "http://graphics.cs.williams.edu/papers/TransparencyI3D16/McGuire2016Transparency.pdf")
            paper.

        %iframe.center(id="iframepdf" src="/doc/TrungLeMasterThesisProposal.pdf" height="1200" width="1000")




