.row
    .row.container.small-10.small-centered.columns.container

        = render 'layouts/about'

        .resume-download
            = link_to("RESUME IN PDF", "/doc/resume/Resume_TrungLe.pdf", :type => "application/pdf", :class => "button", :target => "_blank")

        %iframe.center(id="iframepdf" src="/doc/resume/Resume_TrungLe.pdf" height="1200" width="1000")




