.row
    .small-10.small-centered.columns.container

        %h1 Assylium

        .text-center
            = image_tag("Assylium/assylium_logo.png", size: "150")

        %p
            Assylium is an interactive fiction with fantasy theme.

        .row(data-equalizer)
            .large-4.columns.panel
                = image_tag("Assylium/Raven_hat.jpg", size: "300")
            .large-4.columns.panel
                = image_tag("Assylium/Thanatophile.jpg", size: "300")
            .large-4.columns.panel
                = image_tag("Assylium/Ashmore_2.jpg", size: "300")