.row
    .small-10.small-centered.columns.container

        %h1 Assylium

        %p
            Assylium is an interactive fiction with fantasy theme. This is
            a work in progress.

        %p
            Here are some previews of the concept:

        .row
            = image_tag("Assylium/Concepts.jpg")
