.small-5.right
    .pad-20
    - src = "assylium/Lorix.jpg"
    = image_tag(src)
.row
    .small-7.left.columns.container

        %h1 Assylium

        .scrollable
            %p
                Assylium is an interactive fiction takes place in a fantasy realm of corpse readers and necromancers. The story follows Ashmore, a new apprentice at the largest corpse archive in the city, the Mortheneum. But secrets and lies abound, Ashmore found his life threatened by the dark minds of Assylium and he must find a way to defend himself and decipher his future.

            %p
                The game is currently developed in Unity. Story script is written by Tory Adkisson. Arts are drawn by
                = link_to("Mario Teodosio", "http://marioteodosio.deviantart.com/", :target => "_blank")
                and
                = link_to("Ayan Nag.", "http://crazypalette.deviantart.com/", :target => "_blank")

            .flex-video
                %iframe(width="1280" height="720" src="//www.youtube.com/embed/YvpTCHYtgAs" frameborder="0" allowfullscreen)

            .pad-10
            .flex-video
                %iframe(width="1280" height="720" src="//www.youtube.com/embed/g6YJXOCyr_w" frameborder="0" allowfullscreen)
        .pad-10