.row
    .small-10.small-centered.columns.container

        %h1 Assylium

        %p
            Assylium was born out of an idea I had a while ago for an interative fiction that takes some elements of fantasy, horror, and Harry Potter all combined together in a same narrative. It is a work in progress.

        %p
            I am the programmer for the project.
            Writer is my boyfriend Tory Adkisson, and artists are
            = link_to("Mario Teodosio", "http://marioteodosio.deviantart.com/", :target => "_blank")
            and
            = link_to("Ayan Nag.", "http://crazypalette.deviantart.com/", :target => "_blank")

        %p Video: Assylium Trailer (tentative)
        .flex-video
            %iframe(width="1280" height="720" src="//www.youtube.com/embed/YvpTCHYtgAs" frameborder="0" allowfullscreen)

        .pad-10
        %p Video: Assylium Gameplay Preview
        .flex-video
            %iframe(width="1280" height="720" src="//www.youtube.com/embed/g6YJXOCyr_w" frameborder="0" allowfullscreen)
        .pad-10