.row
    .small-10.small-centered.columns.container
        %h1 Carroll

        %p
            A 2-person board game I developed in Unity. It is a mix between chess and capture the flag. The objective of the game is to move your king through various portals and capture your opponent's zone.

        %p
            = link_to("Download ZIP", "/files/shires.zip", :type => "application/zip", :class => "button", :target => "_blank")

        .flex-video
            %iframe(width="420" height="315" src="https://www.youtube.com/embed/DY3OcfuWLh8" frameborder="0" allowfullscreen)
