.row
    .small-10.small-centered.columns.container
        %h1 Carroll

        %p
            An exploratory, escape the room with Alice in Wonderland inspired theme. I worked on this project during the PennApps 2016 hackathon as the main Unity programmer. The game is selected for 'Best Design' winner. Art assets were built from scratch with our wonderful artists. More details about the team and the project is
            = link_to("here", "http://devpost.com/software/carroll", :target => "_blank")

        .flex-video
            %iframe(src="https://player.vimeo.com/video/152879062" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

        %ul.small-block-grid-2.medium-block-grid-2.large-block-grid-2.clearing-thumbs(data-clearing)
            - paths = ["https://s3-us-west-2.amazonaws.com/trle/carroll/Screen+Shot+2016-01-24+at+8.53.41+AM.png", "https://s3-us-west-2.amazonaws.com/trle/carroll/Screen+Shot+2016-01-24+at+8.54.44+AM.png", "https://s3-us-west-2.amazonaws.com/trle/carroll/Screen+Shot+2016-01-24+at+8.55.03+AM.png", "https://s3-us-west-2.amazonaws.com/trle/carroll/Screen+Shot+2016-01-24+at+8.55.20+AM.png"]

            - paths.each do |path|
                %li
                    %a.th
                        = image_tag("#{path}")
