.row
    .small-10.small-centered.columns.container
        %h1 Desiderata
        %p
            This is a text based game inspired by a poem by Max Ehrmann,
            %a(href="http://www.cs.columbia.edu/~gongsu/desiderata_textonly.html" target="_blank") Desiderata.
            The game sets up an encounter between a human and a beast in a distant forest,
            in which the human is seeking help for his sick village.
            In order to do so, he must first pass a series of test from the beast.

        %p
            I want to explore a way of using games as a mean of communication and
            simulate questions about things that are un-ordinary. This text game
            is my first steps in story-telling, character creation and just me
            having a little fun with game theory (the pennies matching game and
            cake cutting dilema).

        %p
            You can follow
            %a(href="https://github.com/trungtle/desiderata" target="_blank") here
            to download the zip or clone a project.


