.row
    .small-10.small-centered.columns.container
        %h1 Feasor

        %p
            Feasor was an adventure game following Jacobian, a young physicists, through a lab accident
            that ended him in
            another universe where physics work slight different than ours. In this world, partiles
            are huge and can be manipulated by hand to solve different puzzles to help bring
            Jacobian home.

        %a.button(href="http://feasorthegame.blogspot.com/" target="_blank") Journal

        %ul.clearing-thumbs.clearing-feature(data-clearing)
            %li
                %a.th
                    =image_tag("drawing/feasor/Sunset_raw.jpg")
            %li.clearing-featured-img
                Picture: My hand drawn painting of a scene in the game, where Mr. Pumpkin agrees to help Jacobian to find his way home.
                %a
                    =image_tag("drawing/feasor/Sunset.jpg")
            %li
                %a.th
                    =image_tag("drawing/feasor/TheKeep_raw.JPG")
            %li
                %a.th
                    =image_tag("drawing/feasor/TheKeep.jpg")
            %li
                %a.th
                    =image_tag("drawing/feasor/RoadThroughBorWell.jpg")
            %li
                %a.th
                    =image_tag("drawing/feasor/Jacob.jpg")
            %li
                %a.th
                    =image_tag("drawing/feasor/Jacob_digitized.jpg")
            %li
                %a.th
                    =image_tag("drawing/feasor/skyelo.jpg")
            %li
                %a.th
                    =image_tag("drawing/feasor/Darkness.png")

        .pad-20
        %p Video: A test for controlling particles in the world of Feasor. I constructed this using Unity3D and GoogleSketch for the 3D models.
        .flex-video
            %iframe(width="560" height="315" src="http://www.youtube.com/embed/o-75oUUwcN8" frameborder="0" allowfullscreen)

        .pad-20
        %p Video: Another test to understand the 3D physics engine within Unity and character controller.
        .flex-video
            %iframe(width="560" height="315" src="http://www.youtube.com/embed/PQu7I8Ob6D0" frameborder="0" allowfullscreen)

        .pad-20
        %p Video: This is a tutorial I gave for a class presentation of the 2D version of Feasor.
        .flex-video
            %iframe(width="560" height="315" src="http://www.youtube.com/embed/Igsjv0ta8Wo" frameborder="0" allowfullscreen)

