.row
    .small-10.small-centered.columns.container
        %h1 Local Chicken

        .pad-10
        = image_tag("localchicken/pvt_screenshot.png", :size => "560x560")
        .pad-10

        %p
            This is a game I made for the
            = link_to "2nd HOGJam", " http://tomorrowsgamer.com/news/hog-jam-2-free-chicken-weird-chicken/", target: "_blank"
            (theme Free Chicken, Weird Chicken) from House of Games in Seattle.

        %p
            The story follows Peet, a hipster organic, local and sustainable chicken from
            Olympia. He goes to Evergreen and majors in social justice and global economics.
            Tom Douglas, the famous chief of Seattle, owner of the delicious Dahlia bakery and
            the serious Serious Pie, has decided to create the world's most organic chicken and waffle dish.
            Now captured, Peet must escape from the infamous, hellish Wafflenator created by Tom and friends,
            the world's most dangerous waffle machine...

        %p
            You can try the game online
            = link_to "here", "http://stark-tor-2950.herokuapp.com/", target: "_blank"
