.row
    .small-10.small-centered.columns.container
        %h1 Shires

        %p
            Mixed breeding of chess and capture the flag. Capture all your shires!

        %p
            = link_to("Download ZIP", "/files/shires.zip", :type => "application/zip", :class => "button", :target => "_blank")

        .flex-video
            %iframe(width="420" height="315" src="https://www.youtube.com/embed/DY3OcfuWLh8" frameborder="0" allowfullscreen)