.row
    .small-10.small-centered.columns.container
        %h1 Vietspeak (in progress)

        %p
            Vietspeak is a small Vietnamese learning web app I built over the summer of 2015, in collaboration with a couple friends. While still a work in progress, my hope is to launch it for the expat community in Saigon on a mobile platform. You can view the current source code on

            = link_to("github", "https://github.com/trungtle/vietspeak", :target => "_blank")

        %p
            For any feedbacks/collaboration, please
            %a(href="mailto:trungtuanle90@gmail.com" target="_blank") email
            me.

        .flex-video
            %iframe(width="560" height="315" src="https://www.youtube.com/embed/8StcVy9nJTc" frameborder="0" allowfullscreen)
