.row
    .small-10.small-centered.columns.container
        %h1 Watercube

        %p
            This was a short game I created in Unity. Player can "shoot", or "paint"
            the yellow tiles to prevent the blue cubes from filling up the room. In order,
            the cubes represent water!

        %p
            = link_to("Download ZIP", "/files/watercube.zip", :type => "application/zip", :class => "button", :target => "_blank")

        .flex-video
            %iframe(width="640" height="360" src="//www.youtube.com/embed/wjE_eisLIAg" frameborder="0" allowfullscreen)