.row
  .small-10.small-centered.columns.container

    %h1 Cloth tearing FX

    %p
      Turbulence effect on cloth in Maya (model from
      = link_to("Plural Sight's instructor Pankaj Malik", "http://tinyurl.com/jsgcqo8", :target => "_blank")
      ).

    .flex-video
      %iframe(width="560" height="315" src="https://www.youtube.com/embed/r4g2UaC0ghg?&showinfo=0&autoplay=1" frameborder="0" allowfullscreen)
