.row
    .small-10.small-centered.columns.container

        %h1 Undergraduate projects

        %p
            While working as an undergraduate teaching assistant, I built this
            = link_to("website", "http://courses.cs.washington.edu/courses/cse352/12sp/")
            for students.

        %p
            This is a DDR simulation, using an LED matrix and buttons as user input. The direction is up.
            When an LED turns yellow, player must press the corresponding button for the collumn to earn points.
            If the note reaches the last row and turn red, points are taken.

        %iframe(width="560" height="315" src="http://www.youtube.com/embed/5dM9S2hc8Nk" frameborder="0" allowfullscreen)

        %p
            This is a prototype of a medicine dispenser. I got the idea from instructable.com and it was pretty fun to work on.
            However, due to our dispencing mechanics, there was only one type of tablets that could be used for it, so it wasn't
            very useful in the end.

        %iframe(width="560" height="315" src="http://www.youtube.com/embed/rysgOPCh1Ww" frameborder="0" allowfullscreen)
