.row
    .small-10.small-centered.columns.container

        %h1 Fourierbound

        %p
            Fourierbound is an EQ visualization in Unity. Camera is controllable in first person POV.
            The 3D bars are FFT values of any input song. I put in a simple particle system for some snowing effects.

        .flex-video
            %iframe(width="640" height="360" src="//www.youtube.com/embed/DR2Rh4Tj8Ns" frameborder="0" allowfullscreen)

