.row
    .small-10.small-centered.columns.container
        %h1 Seattle Coop Game Design Workshop

        %p
            I found out about the Seattle Coop group from meetup.com about a year ago. After talking to Alex Schearer,\n
            I began co-hosting the monthly meetup.

        %p
            Anyone can join for a good 3-4 hours of making games on pencil & paper without prior experience.
            In groups of 3 or 4 and a 2 hour time limit, teams create working prototypes of tabletop games.
            Then everyone gathers around for the show & tell. In the end, people can test play each other's creation.

        %p
            Some examples I've seen in the past:
        %ul
            %li
                Seattle exotic cuisine:
                As hotshot chiefs in Seattle, players travel from the ID to Freemont and Pike Place, seeking for the best ingredients + recipes (such as blood dragon with a side of grass, or bear syrup garnished with hair).
            %li
                The heist:
                Players must break through the security to steal from a bank. Designed as a dynamic board game, the challenge came from a powerful security guard, who can spawn minions and also convert players to work for him.
            %li
                Robot cats and mouse:
                Using a board game with a regular deck of cards, cat players must work together to "lazer" down the mouse robot!
            %li
                Superheroes town:
                Being some quirky non-famous superheroes in town, players build "creds" to win the city's Superheroes Trophy by solving crimes and saving the city from aliens.
            %li
                Sasquatch Among Us:
                The Sasquatch is trying to escape! Draw clues and equipments cards to reveal the Sasquatch player hiding among the hunters.

        %p
            It has been a tremendously worthwhile experience for me. I've seen a lot of people who's never done game design before
            gets to work on something creative, without little to no barrier entrance in experience. Some have come home and spend time
            to perfect their prototypes, creating polished artworks or turning them into digital versions. I could say there aren't many
            group out there with a similar format, so this has been a unique and great fun event for everyone.

        %p [insert photos here]

        %p [insert picture of the lost temple game]
