.row
    .small-10.small-centered.columns.container

        %h1 Medieval town simulation in Unity3D

        %p
            A medieval village simulation I've done in Unity using prepackaged 3D models.

        .flex-video
            %iframe(width="560" height="315" src="//www.youtube.com/embed/eYErjPcPE4s" frameborder="0" allowfullscreen)
