.row
    .small-10.small-centered.columns.container
        %h1.name
            Wireless Resonant Energy Link (WREL)
        %p
            Under the mentorship of professor Joshua Smith at University of Washington,
            I built the visualization and control GUI for a wireless power system.

        %p
            Wireless power isn't a new concept but has been around since Tesla demostrated
            in his illumination presentation in 1893. Using two inductive resonant coils,
            power can be transfered from the transmit coil to the receiver coil.
            However, the challenge of making wireless power technology popular is the lack of efficiency in transmission.
            Sensors Lab seeks to find a solution for this problem.

        = image_tag("wrel/rr.png")
        .pad-10
        .flex-video
            %iframe(width="560" height="315" src="//www.youtube.com/embed/mnQUxN78hBU" frameborder="0" allowfullscreen)

        %p
            Using Python QT, I built the first demo program that graphs the efficiency of the coils.
            As it evovles and constanly updated by other members of the team, we were able to send commands
            that adjust the frequency and power level of the system, making it possible to collect a data with various configurations.
            There is a correlation between efficiency vs. distance and frequency. For the receiving coil to always get the most optimal
            power regardless of its distance, we implemented several adaptive frequency algorithms that would search for the
            maximum peak on the efficiency curve.

        = image_tag("wrel/WrelDemo.jpg")

        .pad-10
        %h1
            WREL in action

        = image_tag("wrel/wrel-bulb.jpg")
        = image_tag("wrel/wrel0.jpg")
        .pad-10
        .flex-video
            %iframe(width="560" height="315" src="//www.youtube.com/embed/AMgnQ-NHOZk" frameborder="0" allowfullscreen)
