.row
    .small-10.small-centered.columns.container
        %h1.name
            Wireless Resonant Energy Link
        %p
            This is a python GUI that I built for the Seattle Intel Labs and later at the Sensor Lab of the University of Washington. The system controls wirelessly powered devices.