$open-sans-font-stack: 'Open Sans', sans-serif;
$arvo-font-stack: 'Arvo', sans-serif;
$raleway-font-stack: 'Raleway', sans-serif;
$alegreya-font-stack: 'Alegreya', sans-serif;

$logo-font: $raleway-font-stack;
$heading-font: $arvo-font-stack;
$body-font: $alegreya-font-stack;
