.profile-pic {
	margin: 10px;
}

.profile-circular {
  width: 200px;
  height: 200px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.footer {
	margin-bottom: 20px;
}

.example-orbit-content {
	max-height: 400px;
}
