@import "colors";
@import "font_stack";

.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
  background: $lightblack;
  color: #ccc;
  font: {
    family: $heading-font;
    size: .8em;
  }
}

nav.top-bar {
	padding-left: 20px;
	padding-top: 15px;
	margin-top: 20px;
	height: 80px;
}

.title-area .name h1  {
  family: $logo-font;
  font-size: 2.2em;
}

