@import "font_stack";

.resume-download {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.resume-education {
	ul {
		list-style-type: none;
	}
}

.resume-date, .resume-position {
	font-size: 1em;
}

.resume-image {
	text-align: center;
	margin: 20px;
}

p.resume {
  font-size: .9em;
}
