// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "font_stack";

/* ----------------------------------------------------------------------------
Common components
---------------------------------------------------------------------------- */

html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 30px center;
  font-family: $body-font;
  font-size: 1em;
  color: $lightblack;
  height: 100%;
}

// Links
//

a {
    color: $orange;
}

h1, .orbit-caption {
  font: {
    family: $heading-font;
    size: 1.5em;
    font-family: $logo-font !important;
    font-weight: bold;
  }
}

h2 {
  font: {
    family: $heading-font;
    size: 1.1em;
    font-family: $logo-font !important;
    font-weight: bold;
  }
}

// Paragraph
//

p  {
  text-align: justify;
}



/* ----------------------------------------------------------------------------
Class
---------------------------------------------------------------------------- */


// Containers
//

.container {
  padding-top: 50px;
  height: 100%;
}

.scrollable {
  max-height: 900px;
  overflow-y: scroll;
}

// Size
//

@mixin small-text {
  font-size: .5em;
}

@mixin medium-text {
  font-size: .7em;
}

// Padding
//

.pad-10 {
  padding: 10px;
}
.pad-20 {
  padding: 20px;
}
.pad-50 {
  padding: 50px;
}
.pad-100 {
  padding: 100px;
}

// Position
.pos_fixed {
    position: fixed;
}

// Navigation
//


// Button

.button {
  font-size: 1em;
  font-family: 'Alegreya', sans-serif;
  background-color: $lightblack;
}


// Colorize

.black {
  color: $lightblack;
}

.label-black {
  font-family: $logo-font !important;
  background-color: black;
  font-size: 1em;
  padding: 10px;
  color: white;
}
