// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ----------------------------------------------------------------------------

Colors

---------------------------------------------------------------------------- */

$brown: #291300;
$orange: #daa12f;
$cream: #e6dc70;
$red: #ac3535;
$lightblack: #272727;
$lightgray: #d9d9d9;
$khaki: #fcfae6;

/* ----------------------------------------------------------------------------

Common components

---------------------------------------------------------------------------- */

html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 30px center;

  /*
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
*/
  font-family: 'Alegreya', serif;
  font-size: 1em;
  color: $lightblack;
  height: 100%;
}

// Links
//

a {
    color: $orange;
}

// Header
//

h1, h2 {
    color: $lightblack;
    font: {
      family: 'Alegreya', sans-serif;
      size: 1.5em;
    }
}

// Paragraph
//

p  {
  font-size: 1.0em;
}

// List
//

.spec ul {
  margin: 0;
  padding: 0;
}

.spec li {
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  border-left: 3px #ccc solid;
  padding-left: 10px;
  margin-bottom: 20px;
}

.spec li:nth-child(1) {
  margin-top: 20px;
  border-color: #f6ab2b;
}

.spec li:nth-child(2) {
  border-color: #e8703d;
}

.spec li:nth-child(3) {
  border-color: #4ebd73;
}

.spec li:nth-child(4) {
  border-color: #67b1ec;
}

/* ----------------------------------------------------------------------------

Class

---------------------------------------------------------------------------- */
.top-bar .name h1  {
  font-size: 1.2em;
}

// Containers
//

.container {
  padding-top: 20px;
  height: 100%;
}

.scrollable {
  max-height: 900px;
  overflow-y: scroll;
}

// Size
//

@mixin small-text {
  font-size: .5em;
}

@mixin medium-text {
  font-size: .7em;
}

// Padding
//

.pad-10 {
  padding: 10px;
}
.pad-20 {
  padding: 20px;
}
.pad-50 {
  padding: 50px;
}
.pad-100 {
  padding: 100px;
}

// Position
.pos_fixed {
    position: fixed;
}

// Navigation
//

.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
  background: $lightblack;
  font: {
    family: 'Arvo', sans-serif;
    size: 0.7em;
  }

}

// Button

.button {
  font-size: 1em;
  font-family: 'Alegreya', sans-serif;
  background-color: $lightblack;
}

// Profile image

.profile-circular {
  width: 200px;
  height: 200px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

// Colorize

.black {
  color: $lightblack;
}


/* ----------------------------------------------------------------------------

Id

---------------------------------------------------------------------------- */
