%a.button(href="https://github.com/trungtle")
  %i.fa.fa-github
  Github

%a.button(href="mailto:trungtuanle90@gmail.com" target="_blank")
  %i.fa.fa-envelope
  Email

%a.button(hred="https://www.linkedin.com/in/trungtuanle" target="_blank")
  %i.fa.fa-linkedin
  LinkedIn

%a.button(href="https://www.youtube.com/user/trungtuanle")
  %i.fa.fa-youtube
  Youtube
