%footer.row
  %hr

  .footer
    = link_to("Resume", "/doc/resume/Resume_Graphics_Trung_Le.pdf", :type => "application/pdf", :class => "button", :target => "_blank")
    = render 'layouts/contact'
    %p
      ©2016 Trung Le. All Rights Reserved.
